<%- include('./includes/header') %>
<%- include('./includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2">

    </div>

    <div class="col-lg-8 my-3">
      <h1 class="display-1 text-center">Agenda</h1>
      <p class="text-center lead">Contatos:</p>

      

      <div class="responsive-table">
        <table class="table my-3">
          <tr>
            <td>Fulano</td>
            <td>da Silva</td>
            <td>19 982389438</td>
            <td>fulano@gmail.com</td>
          </tr>

        </table>
      </div>

    </div>

    <div class="col-lg-2">

    </div>
  </div>
</div>

<%- include('./includes/footer') %>