*{
    margin: 0;
    padding: 0;
}

.grid::after{
    content: '';
    display: block;
    clear: both;
}

.grid .col{
    display: block;
    float: left;
    width: 100px;
    height: 300px;
    background: red;
    margin: 15px;
}

.grid .col-content{
    width: 100%;

}

@media all and (min-width: 320px){
    .grid .col{
        width: 100%;

    }
}
@media all and (min-width: 321px) and (max-width: 768px){
    .grid .col{
        width: 50%;
    }
}
@media all and (min-width: 769px) and (max-width: 1200px){
    .grid .col{
        width: 33.33%;
    }
}

@media all and (min-width: 1200px){
    .grid .col{
        width: 25%;
    }
}