*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

.pai{
    width: 100%;
    height: 100vh;
    font-size: 1.6rem;
}

.color-one {
    background-color: yellow;
}

.color-two {
    background-color: turquoise;
}
.color-three {
    background-color: darkorange;
}
.color-four {
    background-color: darkmagenta;
}
.color-five {
    background-color: blueviolet;
}